<p id="notice"><%= notice %></p>

<p>
  <b>Nombre lider:</b>
  <%= @informe.nombre_lider %>
</p>

<p>
  <b>Celula madre:</b>
  <%= @informe.celula_madre %>
</p>

<p>
  <b>Telefono:</b>
  <%= @informe.telefono %>
</p>

<p>
  <b>Red:</b>
  <%= @informe.red %>
</p>

<p>
  <b>Hermano:</b>
  <%= @informe.hermano %>
</p>

<p>
  <b>Amigo:</b>
  <%= @informe.amigo %>
</p>

<p>
  <b>Acepto:</b>
  <%= @informe.acepto %>
</p>

<p>
  <b>Reconcilio:</b>
  <%= @informe.reconcilio %>
</p>

<p>
  <b>Total:</b>
  <%= @informe.total %>
</p>

<p>
  <b>Asistenigle:</b>
  <%= @informe.asistenigle %>
</p>

<p>
  <b>Ofrenda:</b>
  <%= @informe.ofrenda %>
</p>

<p>
  <b>Fecha:</b>
  <%= @informe.fecha %>
</p>


<%= link_to 'Edit', edit_informe_path(@informe) %> |
<%= link_to 'Back', informes_path %>
